<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Mail Test Applictaion Suite">

	<listeners>
		<listener class-name="com.qa.google.TestListners.ExtendsReportListners"></listener>
	</listeners>

	<test name="Google Mail Test">
		<classes>
			<class name="com.qa.google.TestCases.TC01VerifyGMailFeatures" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->